
<div class="container" style="margin-left: auto !important; margin-right: auto !important;">
    <div class="row">
        <div class="">
            <div class="login-position">
                <div class="login-form  wow fadeInDown form-login-responsive login-form-margin">
                    <div class="login-body">
                        <section class="content bgcolor-8">
                            <h2 class="login-title">Register For Free</h2>

                            <div>
                                <a href="/Account/RegisterWork" class="login-btn btn-work btn-local">Work</a>
                            </div>
                            <div>
                                <a href="/Account/RegisterCV" class="login-btn btn-personalcv btn-local">Personal CV</a>
                            </div>
                            <div class="login-toregister">
                                <p>
                                    already have an account?
                                    <a href="Login.html">
                                        sing in
                                    </a>
                                </p>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
