/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */
.menu-btn {
display: block;
position: fixed;
top: 280px;
left: 10px;
font-size: 31px;
color: #555;
width: 40px;
height: 40px;
padding: 4px 9px;
border-radius: 100px;
transition: 0.3s;
z-index: 99999999;
}
.menu-btnopen {
display: block;
position: fixed;
top: 280px;
left: 258px!important;
font-size: 31px;
color: #555;
width: 40px;
height: 40px;
padding: 4px 9px;
border-radius: 100px;
transition: 0.3s;
z-index: 99999999;
}
.menu-btn-right {
display: block;
position: fixed;
top: 280px;
right: 6px;
font-size: 31px;
color: #555;
width: 40px;
height: 40px;
padding: 4px 9px;
border-radius: 100px;
transition: 0.3s;
z-index: 99999999;
}
.menu-btn-rightopen {
display: block;
position: fixed;
top: 280px!important;
right: 258px;
font-size: 31px;
color: #555;
width: 40px;
height: 40px;
padding: 4px 9px;
border-radius: 100px;
transition: 0.3s;
z-index: 99999999;
}

.inned .menu-btn {color:#ffffff;}
.menu-btn span {
position: absolute;
font-size: 11px;
background: #139e5b;
width: 20px;
height: 20px;
border-radius: 100px;
padding: 0px 5px;
border: 2px solid;
left: 10px;
color: #555;
}
.inned .menu-btn-right {color:#ffffff;}
.menu-btn-right span {
position: absolute;
font-size: 11px;
background: #139e5b;
width: 20px;
height: 20px;
border-radius: 100px;
padding: 0px 5px;
border: 2px solid;
right: 10px;
color: #555;
}
.menu-btn:hover span {display: none;}
.menu-btn:hover {
display: block;
position: fixed;

cursor: pointer;
transition: 0.3s;
}
.menu-btn-right:hover span {display: none;}
.menu-btn-right:hover {
display: block;
position: fixed;
cursor: pointer;
transition: 0.3s;
}
#scrollbar .pushy
{
    
}
.pushy{
    direction:rtl;
    position: fixed;
    width: 275px;
    height: 100%;
    top: 0;   
    z-index: 9999;
    background: #fff;
      box-shadow: 2px 0px 6px #777;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}
.pushy-r{
    position: fixed;
    width: 275px;
    height: 100%;
    top: 0;
    right:0px;       
    z-index: 9999;
    background: #fff;
        box-shadow: -2px 0px 6px #777;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-275px,0,0);
    -moz-transform: translate3d(-275px,0,0);
    -ms-transform: translate3d(-275px,0,0);
    -o-transform: translate3d(-275px,0,0);
    transform: translate3d(-275px,0,0);
}
.pushy-right{
      -webkit-transform: translate3d(275px,0,0);
    -moz-transform: translate3d(275px,0,0);
    -ms-transform: translate3d(275px,0,0);
    -o-transform: translate3d(275px,0,0);
    transform: translate3d(275px,0,0);

}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.pushy-open-right{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{

}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}
.pushy-r, #container, .push{
 -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay {
display: block;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 9998;

-webkit-animation: fade 5000ms;
-moz-animation: fade 5000ms;
-o-animation: fade 5000ms;
animation: fade 5000ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}
