<div class="container">
    <div class="row">
        <div class="">
            <div class="login-position">
                <div class="login-form  wow fadeInDown form-login-responsive login-form-margin">
                    <div class="login-body">
                        <section class="content bgcolor-8">
                            <h2 class="register-title">Login</h2>
                            <div class="login-input">
                                <input id="UserName" type="text" placeholder="Username" />
                                <input id="Password" type="password" placeholder="Password" />
                                <a href="ForgotPassword.html">Forget Your Password?</a>
                            </div>
                            <p id="ErrorList">

                            </p>

                            <div class="">
                                <input id="LoginButton" class="login-btn" type="button" value="login" />
                            </div>
                            <div class="login-toregister">
                                <p>
                                    Not registered?
                                    <a href="register.html">
                                        Create an account
                                    </a>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
