/* here you can put your own css to customize and override the theme */
.c-main-container {
    width: 88%;
}

.mid-cell {
    width: 48%;
    height: 270px;
    text-align: center;
    margin: 1%;
}

.slideMenu {
    background: white;
    z-index: 2000;
    border: 2px dashed purple;
}

.searchItem {
    border-bottom: 1px solid #d5cfcf;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}

    .searchItem span {
        border-radius: 10px;
    }

.certificateItem {
    display: block;
    margin-left: 5%;
}

.mainButton {
    border: 1px solid #e8e2e2;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}


#certButton {
    padding: 0px;
    float: left;
    clear: right;
    width: 58%;
    height: 100%;
}

#suggestionModalButton {
    width: 40%;
    padding: 0px;
}

.serviceBox {
    border: 1px solid gray;
    padding: 3%;
    background-color: white;
}

.commentBoxItem {
    border-bottom: 1px dashed gray;
}

.commentBox {
    background-color: white;
    border: 1px solid gray;
    padding: 3%;
    padding-right: 8%;
    padding-left: 8%;
    margin-top: 10%;
}

.respIcon {
    max-width: 60%;
    max-height: 60%;
}

.staffBox {
    border: 1px solid gray;
    padding-right: 7%;
    padding-left: 7%;
    background-color: white;
}

.tabIcon {
    max-height: 60%;
    max-height: 60%;
}


.themeColor {
    color: #359a68;
    border-color: gray !important;
}

.tabItem {
    width: 19%;
    margin-left: .3%;
    text-align: center;
}

    .tabItem a {
        width: 100%;
    }

.profileBox {
    background: white;
    border: 1px solid gray;
    width: 110%;
    margin-left: -5%;
    margin-bottom: 10px;
    padding-top: 2%;
}

.mix-block {
    background: white;
}

.badge {
    z-index: 200;
}

.personalPageTabItem {
    width: 32%;
}

    .personalPageTabItem a {
        width: 100%;
    }

.mainBody {
    background-image: url('../img/main-bg.png');
}

.whiteBox {
    background: white;
}


.top10Container {
    margin-top: -1% !important;
    width: 13%;
    border: 1px solid gray;
    border-top: none;
}

.pricing {
    box-shadow: -2px 2px 2px gray;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
}

.top10Container .pricing {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: none;
    padding: 4%; 
    
}


.suggestLine {
    clear: both;
    width: 100%;
    border: 1px solid gray;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.staffBox .row{
    margin-top: 10px;
}