/* here you can put your own css to customize and override the theme */
.c-main-container {
    width: 88%;
}

.mid-cell {
    width: 48%;
    height: 270px;
    text-align: center;
    margin: 1%;
}

.slideMenu {
    background: white;
    z-index: 2000;
    border: 2px dashed purple;
}

.searchItem {
    border-bottom: 1px solid #d5cfcf;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
}

    .searchItem span {
        border-radius: 10px;
    }

.certificateItem {
    display: block;
    margin-left: 5%;
}

.mainButton {
    border: 1px solid #e8e2e2;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;

}


#certButton {
    padding: 0px;
    float: left;
    clear: right;
    width: 58%;
    height: 100%;
}

#suggestionModalButton {
    width: 40%;
    padding: 0px;
}

.serviceBox {
    border: 1px solid gray;
    padding: 3%;
}

.commentBoxItem {
    border-bottom: 1px dashed gray;
}

.commentBox {
    border: 1px solid gray;
    padding: 3%;
    padding-right: 8%;
    padding-left: 8%;
    margin-top: 10%;
}

.respIcon {
    max-width: 60%;
    max-height: 60%;
}

.staffBox {
    border: 1px solid gray;
    padding-right: 7%;
    padding-left: 7%;
}
